@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    background-color: aliceblue;
}

*{
    margin: 0 px;
    padding: 0 px;
}

nav{
     font-family: 'Ubuntu',sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 65 px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.deb img{
    width: 22px;
    padding: 0 8px;
}
.deb{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.songItemcontaner{
    margin-top: 74px;
}
.contaner{
min-height: 70vh;
background-color:black;
color: white;
font-family: "Varela Round", serif;
display: flex;
margin: 23px auto;
width: 70%;
border-radius: 12px;
padding: 34 px;
background-image: url('back.jpg');
}
.button{
    position: sticky;
    height: 90px;
    background-color:black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.icons{
    margin-top: 13px;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: red;
    
    margin: 12px 0;
    justify-content: space-around;
    align-items: center;
    border-radius: 13px;
}
.songItem img{
    width: 43px;
    margin:0 23px;
    border-radius: 30px;
}
.timestamp{
    border: 0 13px;
}
.timestamp i{
    cursor: pointer;
}
.songitem{
    position: absolute;
    left: 0;
    font-family: "Varela Round", serif;
}
.songitem img{
    opacity: 0;
    transition: opacity is ease-in;
}
.ran{
    font-size: 50px;
      font-weight: bold;
      background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
      
      color: white;
      animation: color-shift 3s infinite linear;
      background-size: 200%;
    }

    @keyframes color-shift {
      0% {
        background-position: 0%;
      }
      100% {
        background-position: 100%;
      }
    }
     
    #clock{
        font-size: 50px;
        background-color: black;
        color: white;
        padding: 20px 50px;
        margin-top: 10px;
        border-radius: 10px;
        
    }
    
      .search-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
      }
      .search-box {
        width: 300px;
        padding: 10px;
        font-size: 16px;
      }
      .search-button {
        padding: 10px;
        font-size: 16px;
        background-color: #007BFF;
        color: white;
        border: none;
        cursor: pointer;
      }
      .search-button:hover {
        background-color: #0056b3;
      }
      .cal{
        color: aqua;
      }